/* CSS RESETS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding-left: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL */


:root,
html,
body {
    height: 100%;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  max-width: 75em;
  margin-inline: auto;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: hsl(249, 57%, 7%);
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 4rem 0;
}

.accent {
  color:hsl(191, 95%, 47%);
}

@media (min-width: 50rem) {
  section {
    padding: 7.5rem 0;
  }
}

/* HEADER/NAV */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7.5rem;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portrait__icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header img {
  background-color: gray;
  height: 50px;
  border-radius: 100vh;
  aspect-ratio: 1;
}

.nav__menu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  transition: opacity 400ms linear 200ms, transform 750ms 200ms;
  transform: translateY(5rem);
}

.nav__menu--visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.nav__content {
  visibility: hidden;
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 2.5rem;
}

.menu--open .nav__content {
  visibility: visible;
  justify-content: center;
  align-items: center;
}

.nav__menu--bg {
  position: fixed;
  top: -100vh;
  left: -100vh;
  height: 300px;
  width: 300px;
  background-color: hsl(245, 16%, 16%);
  z-index: 99;
}

.menu--open .nav__menu--bg {
  top: 0;
  left: 100%;
  transform: scale(10);
  transition: transform 500ms;
}

.nav__toggle--button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: hsl(245, 16%, 16%);
  border: none;
  border-radius: 100vh;
  outline: none;
  z-index: 999; 
}

.nav__toggle--button:is(:hover, :focus-within) {
  cursor: pointer;
  outline: 4px solid hsl(191, 95%, 47%);  
}

.hamburger {
  display: block;
  position: relative;
  width: 24px;
  height: 16px;
}

.hamburger__bar {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: hsl(191, 95%, 47%);
}

/* Hamburger animation */
.hamburger__bar {
  transition: 500ms;
}

.hamburger__bar:first-child {
  top: 0;
}

.hamburger__bar:nth-child(2) {
  top: 50%;
}

.hamburger__bar:nth-child(3) {
  top: 100%;
}

.menu--open .hamburger__bar:first-child {
  top: 50%;
  transform: rotate(45deg);
}

.menu--open .hamburger__bar:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.menu--open .hamburger__bar:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.nav__link {
  padding-bottom: 2px;
  color: hsl(0, 0%, 100%);
  border-bottom: 3px solid transparent;
  text-decoration: none;
  transition: border-bottom 250ms ease-in;
}

.nav__link:is(:hover, :focus) {
  border-bottom: 4px solid hsl(191, 95%, 47%);
  outline: none;
}

@media (min-width: 35em) {  
  .navToggleBtn {
    display: none;
  }
}

@media(min-width: 50em) {
  .nav__menu {
    visibility: visible;
    flex-direction: row;
    font-size: 1rem;
    opacity: 1;
    /* removes animation */
    transform: translateY(0);
    transition: none;
  }

  .nav__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
  }
  
  .nav__toggle--button {
    display: none;
  }
  
  .nav__menu--bg {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
    top: -100vh;
    left: -100vh;
  }

  .no-scroll {
    overflow: scroll;
  }
}


/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: calc(100vh - 7.5rem);
  padding-bottom: 0;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 3.25rem;
}

.hero h2 {
  font-size: 1.5rem;
}

.hero div h2 {
  font-size: 1rem;
}

.hero p {
  max-width: 50ch;
  font-size: 1.5rem;
}

@media (min-width: 35em) {
  .hero h1 {
    font-size: 6rem;
    line-height: 5.25rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .hero div h2 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 2rem;
  }
}

@media (min-width: 50em) {
  .hero {
    padding-top: 8rem;
  }
}


/* ABOUT ME */

.about {
  max-width: 70ch;
  font-size: 1.25rem;
}

.about h2,
.projects h2 {
  position: relative;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.about h2:before,
.projects h2:before {
  content: "";
  position: absolute;
  top: 100%;
  height: 2px;
  width: 100%;
  background-color: hsl(191, 95%, 47%);
  z-index: -1;
}

.about p:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

/* PROJECTS */

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  max-width: 22rem;
  margin-inline: auto;
  background-color: hsl(245, 16%, 16%);
}

.project__carousel {
  position: relative;
  height: 100%;
}

ul.slides {
  height: 15rem;
  background-color: white;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.carousel__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 100vh;
  background-color: hsla(249, 57%, 7%, 0.3);
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 2rem;
  z-index: 99;
}

.carousel__button:is(:hover, :focus) {
  outline: hsl(0, 0%, 100%);
  cursor: pointer;
  background-color: hsla(249, 57%, 7%, 0.5);
  color: hsla(0, 0%, 100%, 1);
}

button.prev {
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
}

button.next {
  top: 50%;
  right: 12%;
  transform: translate(50%, -50%);
}

.slide {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.slide[data-active] {
  opacity: 1;
}

.slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-color: green;
}

.project__stack {
  display: flex;
  gap: 1rem;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.project__stack img {
  height: 2rem;
  aspect-ratio: 1;
  background-color: gray;
}

.project__info {
  display: grid;
  grid-template: auto 1fr repeat(2, auto) / repeat(2, 1fr);
  gap: 1.5rem 0;
  width: 100%;
  padding: 1.5rem;
}

.project__info h3 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.project__info p {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  max-width: 70ch;
}

.project__links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}

.project__links svg {
  fill: hsl(191, 95%, 47%);
}

.project__links svg:is(:hover, :focus) {
  fill: hsl(0, 0%, 100%);
}


@media(min-width: 50em) {
  .projects__container {
    grid-template-columns: 1fr;
    gap: 2rem 0;
  }

  .project {
    flex-direction: row;
    max-width: none;
    height: 20rem;
    margin: 0;
  }

  .project__carousel {
    width: 60%;
    max-width: 20rem;
  }

  .project__info {
    grid-template: auto 1fr auto / repeat(2, 1fr);
    gap: 1.5rem 0;
  }

  .project__info h3 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .project__info p {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .project__stack {
    justify-self: end;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .project__links {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
}

/* CONTACT */
.contact {
  margin-block: 2rem;
}

.contact__inner {
  display: grid;
  justify-items: center;
  gap: 1.25rem 0;
  width: 95%;
  margin-inline: auto;
  padding: 2rem 1rem;
  background-color: hsl(245, 16%, 16%);
  text-align: center;
}

.contact h3 {
  font-size: 2rem;
}

.contact p {
  max-width: 60ch;
}

.contact__link {
  padding: 0.5rem 1rem;
  background-color: hsl(191, 95%, 47%);
  color:hsl(245, 16%, 16%);
  border: none;
  font-weight: bold;
  text-decoration: none;
}

.contact__link:is(:hover, :focus) {
  background-color: hsl(0, 0%, 100%);
  color: hsl(245, 16%, 16%);
}

@media(min-width: 50em) {
  .contact {
    margin-block: 3rem;
  }

  .contact__inner {
    width: 70%;
    max-width: 40rem;
    padding: 3rem;
  }
}

/* FOOTER */

.footer__inner {
  display: grid;
  gap: 2rem 0;
  padding-bottom: 0.75rem;
}

footer h4 {
  color: hsl(191, 95%, 47%);
}

.footer__inner > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1rem;
}

.socials__link {
  display: flex;
  gap: 0 0.75rem;
}

.socials__link a {
  display: flex;
  align-items: center;
  height: min-content;
}

.socials__link svg {
  fill: hsl(191, 95%, 47%);
}

.socials__link svg:is(:hover, :focus) {
  fill: hsl(0, 0%, 100%);
}

.copyright {
  grid-column: 1 / 2;
  font-size: 0.8rem;
}

@media(min-width: 50rem) {
  .footer__inner {
    grid-template: 1fr auto / repeat(3, 1fr);
    justify-items: center;
  }

  .copyright {
    grid-column: 2 / 3;
  }
}
